<header class="toolbar">
    <div class="drawerToggle" onclick="drawerToggleClicked()">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="logo" onclick="searchHome()">
        <h4>Traveler</h4>
    </div>
    <nav class="desktopOnly">
        <ul class="navigationItems">
            <li class="navigationItem">
                <button class="btn_traveler" onclick="showModalSignUp()">Sign up</button>
            </li>
            <li class="navigationItem">
                <button class="btn_traveler" onclick="showModalSignIn()">Sign in</a>
            </li>
        </ul>
    </nav>
</header>