<header class="Toolbar">
    <div class="DrawerToggle" onclick="drawerToggleClicked()">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="Logo">
        <h4>Traveler</h4>
    </div>
    <nav class="DesktopOnly">
        <ul class="NavigationItems">
            <li class="NavigationItem">
                <button class="Btn_header">Sign up</button>
            </li>
            <li class="NavigationItem">
                <button class="Btn_header">Sign in</a>
            </li>
        </ul>
    </nav>
</header>