.Toolbar{
    height: 56px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    border-bottom: 2px solid #F2F3F2;
}

.Toolbar nav{
    height: 100%;
}

.Logo{
    height: 50%;
}

@media (max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}

.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 18px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 50%;
    height: 2px;
    background-color: lightgray;
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}

.NavigationItems{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 500px){
    .NavigationItems{
        flex-flow: row;
    }
}

.NavigationItem{
    margin-left: 10px;
}

.Btn_header{
    padding: 3px 20px 3px 20px;
    background-color: #FF5A5F;
    font-size: 12px;
    color:white;
    border-radius: 5px;
    border-color: #FF5A5F;
    cursor: pointer;
}

.Btn_header:hover{
    background-color: #E55155;
}