html {
    height: 100%; /*Stick the footer at bottom*/
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100%; /*Stick the footer at bottom*/
}

#Content{
    padding-top: 80px;
    padding-bottom: 250px;
}

.Card{
    background-color: white;
    color: #323332;
    border-radius: 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; 
    height: 100%;
    max-width: 350px;
}

.Card img{
    width: 100%; 
    height: 160px;
}

.Card:hover{
    box-shadow: 0 3px 14px 0 rgba(0,0,0,.15);
}

@media (max-width: 575px){
    .Card{
        width: 250px;
    }
}