<header class="toolbar">
    <div class="drawerToggle">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="logo">
        <h4>Example</h4>
    </div>
    <nav class="desktopOnly">
        <ul class="navigationItems">
            <li class="navigationItem">
                <a href="">Item 1</a>
            </li>
            <li class="navigationItem">
                <a href="">Item 2</a>
            </li>
            <li class="navigationItem">
                <a href="">Item 3</a>
            </li>
        </ul>
    </nav>
</header>