<footer class="Footer">
    <hr>
    <div class="Sections">
        <div class="SocialNetworks">
            <div style="display:flex;">
                <button id="facebook" class="btn btn-default btn-circle"><i class="fa fa-facebook" aria-hidden="true"></i></button>
                <button id="twitter" class="btn btn-default btn-circle"><i class="fa fa-twitter" aria-hidden="true"></i></button>
                <button id="instagram" class="btn btn-default btn-circle"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="Comments">
            <h5>RECENT COMMENTS</h4>
            <div style="display: flex;">
                <img src="utils/img/profile.png" style="width: 35px; height: 35px;" alt="">
                <p style="font-size: 12px; color: #606160; margin-top: 7px; margin-left: 3px;">
                    <strong>Bruno: </strong>Amazing Website. I love it!.
                </p>
            </div>
            <div style="display: flex;">
                <img src="utils/img/profile.png" style="width: 35px; height: 35px;" alt="">
                <p style="font-size: 12px; color: #606160; margin-top: 7px; margin-left: 3px;">
                    <strong>Sandra: </strong>I learned a lot about the countries!. Thank you very much!
                </p>
            </div>
            <div style="display: flex;">
                <img src="utils/img/profile.png" style="width: 35px; height: 35px;" alt="">
                <p style="font-size: 12px; color: #606160; margin-left: 3px;">
                    <strong>Ernesto: </strong>This is geat!, When you are planning a trip, this helps me to choose the best destiny.
                </p>
            </div>
        </div>
        <div class="About">
            <h5>ABOUT</h4>
            <p style="font-size: 12px; color: #606160; margin:0;">This web is for people who want to Travel around the world. We love to give all the infomations about the best countries to travel and have fun.</p>
        </div>
    </div>
    
</footer>