<div id="backdropElement" class="backdrop Close" onclick="backdropClicked()"></div>
<div id="sideDrawerElement" class="sideDrawer Close">
    <nav>
        <ul class="sideDrawerItems">
            <li style="background-color: #00482b; padding-top: 15px; padding-bottom: 15px; width: 100%;">
            </li>
            <li onclick="searchHome()" style="padding-left: 15px; width: 100%; color:white; font-size: 18px; padding-top: 20px; padding-bottom: 20px; background-color: #007849;">
                Traveler
            </li>
            <li class="sideDrawerItem">
                <button type="button" class="btn btn-default sideDrawerBtn" onclick="showModalSignUp()">
                    <i class="fa fa-circle" aria-hidden="true" style="margin-right: 10px;"></i>Sign up
                </button>
            </li>
            <li class="sideDrawerItem">
                <button type="button" class="btn btn-default sideDrawerBtn" onclick="showModalSignIn()">
                    <i class="fa fa-circle" aria-hidden="true" style="margin-right: 10px;"></i>Sign in
                </button>
            </li>
            <li style="width: 100%;">
                <hr>
            </li>
            <li class="sideDrawerItem" style="padding-top:0;">
                <button type="button" class="btn btn-default sideDrawerBtn" onclick="searchContactUs()">
                    <i class="fa fa-circle" aria-hidden="true" style="margin-right: 10px;"></i>Contact us
                </button>
            </li>
        </ul>
    </nav>
</div>