<div id="BackdropElement" class="Backdrop Close" onclick="backdropClicked()"></div>
<div id="SideDrawerElement" class="SideDrawer Close">
    <nav>
        <ul class="SideDrawerItems">
            <li style="background-color: #00482b; padding-top: 15px; padding-bottom: 15px; width: 100%;">
            </li>
            <li style="padding-left: 15px; width: 100%; color:white; font-size: 18px; padding-top: 20px; padding-bottom: 20px; background-color: #007849;">
                Traveler
            </li>
            <li class="SideDrawerItem">
                <button type="button" class="btn btn-default sideDrawerBtn" onclick="showModalSignUp()">
                    <i class="fa fa-circle" aria-hidden="true" style="margin-right: 10px;"></i>Sign up
                </button>
            </li>
            <li class="SideDrawerItem">
                <button type="button" class="btn btn-default sideDrawerBtn" onclick="showModalSignIn()">
                    <i class="fa fa-circle" aria-hidden="true" style="margin-right: 10px;"></i>Sign in
                </button>
            </li>
            <li style="width: 100%;">
                <hr>
            </li>
            <li style="padding-left: 15px;">
                <h5>Social</h5>
            </li>
            <li class="SideDrawerItem">
                <button type="button" class="btn btn-default sideDrawerBtn">
                    <i class="fa fa-facebook" aria-hidden="true" style="margin-right: 10px;"></i>Facebook
                </button>
            </li>
            <li class="SideDrawerItem">
                <button type="button" class="btn btn-default sideDrawerBtn">
                    <i class="fa fa-twitter" aria-hidden="true" style="margin-right: 10px;"></i>Twitter
                </button>
            </li>
            <li class="SideDrawerItem">
                <button type="button" class="btn btn-default sideDrawerBtn">
                    <i class="fa fa-instagram" aria-hidden="true" style="margin-right: 10px;"></i>Instagram
                </button>
            </li>
        </ul>
    </nav>
</div>